/*mobile first*/


body {
  background: #fff;
}
.main-body {
  margin: 0 auto;
  width: 320px;
}


h1 {
  text-align: center;
  color: #535b5e;
  font-family: Nunito;
}

ul {
  list-style: none;
}

li {
  margin-top: 10px;
  margin-right: 30px;
  font-family: Baloo;
  font-size: 16px;
  text-align: center;
 }

li a {
  text-decoration: none;
  display: block;
  color: #535b5e;
}
.content {
  height: 225px;
  width: 320px;
  margin-top: 20px;
}

.p1 {
  font-family: Nunito;
  font-size: 14px;
  text-align: center;
  padding-top: 15px; 
  
}

.pic {
  width: 210px;
  height: 130px;
  margin: 20px 0 0 50px ;
}

.portfolio {
  text-align: center;
  padding-top: 60px;
  margin: 70px 0 0 0;
  font-family: Asap;
  font-size: 10px;
  color: #535b5e;
  
}
.blocks {
  width: 335px;
  height: 200px; 
  display: inline-block;
}
img {
  width: 300px;
  height: 160px;
  margin-top: 40px;
}

h4 {
  font-family: Nunito;
  font-size: 18px;
}
.para {
  font-family: Ubuntu;
  text-align: center;
  font-size: 16px;
}
h3 {
  text-align: center;
  font-family: Asap;
  margin-top: 80px;
  color: #535b5e;
}
.p2 {
  text-align: center;
  font-family: Asap;
  font-size: 10px;
  padding-top: 15px;
}

.p3 {
  text-align: center;
  font-family: Ubuntu;
  font-size: 14px;
  padding-top: 10px;
}
span {
  font-weight: bold;
}
.footer1 {
  font-family: Asap;
  font-size: 20px;
  display: inline;
  padding: 10px 0 10px 0;
}
h5 {
  display: inline;
  font-family: Ubuntu;
  font-size: 16px;
  margin-left: 120px;
  color: #535b5e;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: #535b5e;
}


hr {
 border-bottom: 1px solid #bebfbe;
}
.nav2 {
  display: none;
}


/*tablets*/

@media screen and (min-width: 728px) {
  
  body {
  background: #fff;
  }
.main-body {
  width: 768px;
  margin: 0 auto;
  
}


h1 {
  text-align: center;
  color: #535b5e;
  font-family: Ubuntu;
}

ul {
  list-style: none;
  text-align: center;  
  
 
}

li {
  margin-top: 10px;
  margin-right: 30px;
  font-family: Baloo;
  font-size: 16px;
  text-align: center;
  display: inline-block;  
 
}

li a {
  text-decoration: none;
  display: block;
  color: #535b5e;
}
.content {
   margin: 0 auto; 
   width: 670px;
   padding-top: 20px; 
  }
  
 .p1 {
    text-align: left;
    font-size: 14px;
  
  }
 .pic {
    width: 280px;
    height: 150px;
    float: right;
    padding-top: 5px;
  
  }
  .portfolio {
    font-size: 12px;
    margin: 0 auto;
  }
  img {
    width:325px;
    height: 170px;
  }
  .para{
    width: 300px;
    margin: 0 auto;
    font-family: nunito;
    font-size: 14px;
    }
  
  h3 {
    font-family: Asap;
  }
 .p2 {
  
    width: 420px;
    margin: 0 auto;
    font-size: 15px;
  } 
 .p3 {
    margin: 0 auto;
    width: 420px;
    text-align: center;
    padding-top: 25px;
    font-family: Ubuntu;
  } 
 
 h5 {
    display: none;
  }
  
  .footer1 {
    display: inline-block;
  }
  .nav2 {
    display: inline-block;
    float: right;
  }
    .nav2 li {
    margin: 0 5px; 
  
  }
}


/*pc*/

@media (min-width: 1024px) {

body {
  background: #fff;

}
.main-body {
  width: 1024px;
  
}

h1 {
 display: inline-block;

} 

ul {
  list-style: none;
  float: right;
}
li {
 font-size: 20px;
}

.content {
 margin: 0 auto;
 width: 1024px; 
}

.p1 {
 font-size: 18px;
 width: 500px; 
}
.pic {
 width: 400px;
 height: 220px; 
 margin-right: 27px; 
}
.portfolio {
  margin-top: 60px;
  
}

img {
    width:290px;
    height: 170px;
  }
.para {
  width: 275px;
  font-size: 14px;
  padding: 0 5px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-family: Asap;
  font-size: 16px;
}
.footer1 {
  font-size: 22px;
  display: inline-block;
 
}
.nav2 li {
  font-family: Baloo;
  font-size: 18px;
}






